.listItem {
  text-decoration: none;
  list-style: none;
}

.linkListItem {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1px solid rgb(0 0 0 / 17.5%);
  color: var(--dark);
  padding: var(--padding-base);
}

.cash {
  font-size: var(--font-size-5xl);
}

.amountAlignment {
  text-align: end;
}
