.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dateWithBgColor {
  display: inline-block;
  background-color: var(--primary);
  padding: 10px;
  color: var(--light);
  border-radius: 5px;
}
.greenText {
  color: var(--success);
}
.redText {
  color: var(--danger);
}
.bluetext {
  color: var(--primary);
}
